
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.current {
  border-bottom: 3px solid #fb565a;
  
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-header {
  background-color: #eeeeee;
  margin: 0 auto;
}

.menu-header-logo {
  padding: 0 0 0 24px;
}

.wrapper {
  margin: 0 auto;
  background-color: #eeeeee;
  
}

.menu-navigator {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
}



.content-catalog {
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item a {
  display: block;
  box-sizing: border-box;
  width: 235px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  
}



.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.cont {
  background-color: #eeeeee;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-list {
  background-color: #eeeeee;
  margin: 0 auto;
}

.slider-item {
  display: none;
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 80px;
}

.button-slider {
  margin-bottom: 80px;
}



.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}



.slider-list {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
  background-color: #eeeeee;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0 0 0 -4px;
  margin-bottom: 38px;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
   content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

.menu-navigator {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.site-navigation  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 488px;
  align-items: center;
  list-style: none;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.site-navigation a {
  display: block;
  padding: 0 46px 0 0;
  vertical-align: middle;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #bdbdbd;
}

.cart {
  list-style: none;
  position: relative;
  margin: 0 0 0 0;
  padding: 0px 0 0 20px;
}

.shopping-cart a {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-right: 20px;
}

.shopping-cart a:hover {
  color: #fb565a;
}

.shopping-cart a:focus {
  color: #fb565a;
}

.shopping-cart a:active {
  color: #bdbdbd;
}

.site-navigation .active {
  border-bottom: 3px solid #fb565a;
}

.advantages {
  background-color: white;
  
}

.advantages-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 1158px;
  height: 400px;
  margin: 0 auto;
  padding: 0px;
  padding-top: 80px;
  border-bottom: 3px solid #eeeeee;
}

.advantages li {
  list-style: none;
  width: 300px;
}

.presentations {
  margin-right: 60px;
}

.advantages li:first-child {
  width: 300px;
  
}

.advantages a {
  line-height: 18px;
}

.advantages-item-image {
  width: 300px;
  height: 145px;
  margin: 0px 0px 25px 4px;
}

.advantages h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: -7px 0 0 4px;
  }

.advantages p {
  font-size: 16px;
  font-weight: 400;
  width: 260px;
  line-height: 24px;
  padding: 0 0 0 0;
  margin: 17px 0 0 7px;
}

.about-us {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 0 43px 0;
  border-bottom: 3px solid #eeeeee;
  
}

.wrapper-about-us {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about-us-promo {
  padding: 0;
  margin: 53px 1px 0px 26px;
}

.about-us-promo h3 {
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 35px;
  
}

.about-us-nerd-image {
  width: 360px;
  height: 208px;
}

.about-us-text {
  font-size: 16px;
  font-weight: 400;
  width: 660px;
  margin: 0px 4px 38px -1px;
  line-height: 24px;
}

.about-us-promo li {
  list-style: none;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.products-item {
  position: relative;
  padding: 0 0 0 35px;
}

.products-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -1px;
  background-color: #fb565a;
}


.about-us-promo b {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 7px -3px -1px;
  
}

.about-us-statistics {
  margin: 40px 0 0 0;
}

.about-us-nerd-image {
  margin: 25px 16px 37px 0;
  
}

.percent-sign {
  font-size: 22px;
}

.about-us-statistics b {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0 0 4px 17px;
}

.about-us-text ul {
  margin-bottom: 75px;
}

.products {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 22px 0 0 0;
  padding: 0 0 0 0;
  width: 440px;
  height: 150px;
}

.products::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid red;
  
  top: 0;
  left: 0;
  
}


.nerd-img {
  width: 360px;
  height: 208px;
}

.promo-table {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  margin: 46px 2px 1px 0px;
}

.spacer {
  min-width: 8px;
}

.spacer-text {
  min-width: 19px;
}

.number {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  width: 100px;
  display: block;
  margin: 9px 0 0px -2px;
}

tr.text {
 display: block;
  margin: 30px 0 0 -1px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  width: 50px;
  line-height: 18px;
}

td.text {
  display: block;
  line-height: 18px;
}

td.number {
  display: block;
  margin-right: 20px;
  
}

.link-partners {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #eeeeee;
}


.html-academy {
  margin: -14px 0 0 -20px;
  padding: 0 25px 0 0;
}

.html-academy {
  position: relative;
}

.html-academy::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 278px;
  background-color: #eeeeee;
}

.barberhop {
  position: relative;
}

.barberhop::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 291px;
  background-color: #eeeeee;
}


.barberhop {
  margin: -15px 74px 0 -6px;
  padding: 0 27px 0 0;
}

.pink {
  position: relative;
}

.pink::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 248px;
  background-color: #eeeeee;
}

.pink {
  margin: -16px 0px 0 -26px;
}

.mishka {
  margin: -16px 11px 0 0px;
  
}


.htmlacademy-img {
  width: 260px;
  height: 180px;
}

.barberhop-img {
  width: 260px;
  height: 180px;
  margin: 0 0 0 9px;
}

.pink-img {
   width: 260px;
  height: 180px;
  margin: 0 0px 0px -30px;
}

.mishka-img {
  width: 260px;
  height: 180px;
}

.partners {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 56px;
  padding-bottom: 1px;
}


}

.link-partners {
  margin: 0 auto; 
  padding: 0px;
  display: flex;
  justify-content: space-between;
  
}

.map-img {
  padding: 0;
  margin: -18px 0 0 0;
  
}

.link-partners a {
  display: block;
  width: 260px;
  height: 180px;
  opacity: 0.5;
}

.link-partners a:hover {
  opacity: 1;
}

.link-partners a:active {
  opacity: 0.2;
}



.red {
  display: block;
  width: 81px;
  height: 17px;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-left: 43px;
  padding-right: 39px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  background-image: url(/img/comp.jpg);
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
}

.red:hover {
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: #e48789;
}

.green {
  display: block;
  width: 79px;
  height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 42px;
  padding-right: 40px;
  margin-top: 31px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 0px;
  margin-left: 3px;
  border-radius: 5px;
  background-color: #00ca74;
  color: #ffffff;
  text-transform: uppercase;
}

.green:hover {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: #74c69c;
}

.yellow {
  display: block;
  width: 80px;
  height: 17px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 41px;
  padding-right: 40px;
  margin: 31px -3px -5px 4px;
  text-align: center;
  border-radius: 5px;
  background-color: #efc849;
  color: #ffffff;
  text-transform: uppercase;
}

.yellow:hover {
  background-color: #eab534;
}

.yellow:active {
  background-color: #e5a722;
  color: #ecc075;
}

.invisible {
  display: none;
}

.modal-window {
  width: 960px;
  height: 600px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 85px;
}

.modal-window h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.popap-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal.modal-write-to-us p {
  font-size: 16px;
  font-weight: 700;
}

.label-radio-filter {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #797c7f;
}

.label-radio-filter:hover {
  color: #000000;
}

.checkbox-filter {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #797c7f;
}

.checkbox-filter:disabled+label {
  opacity: 0.4;
}

.checkbox-filter:hover {
  color: #000000;
}

input[type="text"],
input[type="email"]{
  border:1px solid #d7dcde;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: auto;
  margin-bottom: 35px;
}

input[type="submit"] {
  display:block;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border:none;
  border-radius: 3px;
}

input[type="number"] {
  width: 80px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-align: center;
}

.write-to-us-button {
  background-color: #fb565a;
  color: #ffffff;
}

.textarea {
  border:1px solid #d7dcde;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: auto;
  margin-bottom: 35px;
}

.wrapper-footer {
  margin: 0 auto;
  
}

.map {
  position: relative;
  margin: 0 0 40px 0;
  width: 1450px;
}

.contacts {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: 137px;
  text-align: left;
  width: 319px;
  min-height: 310px;
  background-color: #ffffff;
  padding: 50px;
  }

.contacts h3 {
  text-align: left;
  padding: 0px;
  margin: 0 0 25px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.contacts p {
  display: block;
  text-align: left;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  margin: 0 0 20px 0;
}

.write-to-us-button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.contacts.write-to-us-button {
  display:block;
  margin-left: 50px;
  padding-left: 50px;
}

.write-to-us-button:hover {
  color: #ffffff;
  background-color: #e74246;
} 

.write-to-us-button:active {
  color: #e48789;
  background-color: #d7373b;
  cursor: pointer;
}

.write-to-us-button a {
  color: #ffffff;
}

.write-to-us-button a:hover {
  color: #ffffff;
  background-color: #e74246;
} 

.write-to-us-button a:active {
  color: #e48789;
  background-color: #d7373b;
}

.map-img {
  width: 1437px;
  height: 415px;
}

.footer-lead {
  display: block;
  padding-right: 240px;
  min-width: 560px;
} 

.footer-lead b {
  width: 560px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  }

.footer-lead span {
  display: block;
  margin-top: 5px;
  width: 560px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  line-height: 22px;
} 

.wrapper-footer {
  display: flex;
  justify-content: flex-start;
}

.social {
  list-style: none;
   display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
}

.social-link {
   display: flex;
  list-style: none;
  justify-content: flex-start;
  border-radius: 50%;
  margin: 24px 0px -15px 90px;
}


.social-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.social:hover {
 background-color: #e74246; 
}

.social:active {
  background-color: #d7373b;
  opacity: 0.5;
}

.social-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.social-inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1426px;
  margin-bottom: 40px;
}

.footer-lead {
  margin: 29px 94px 0 0;
}

<!--catalog-->

.logo-svg {
  width: 160px;
  height: 65px;
}

.menu-header-logo {
  min-width: 160px;
}

.site-navigation a {
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  margin: 0px -7px;
  padding-left: 30px;
  padding: 7px 36px 0 24px;
}

.shopping-cart {
  display: flex;
  
  max-width: 120px;
  height: 20px;
  list-style: none;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 9px;
}

.shopping-cart .cart {
  position: relative;
  padding-left: 30px;
}

.cart::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: -10px;
  width: 18px;
  height: 18px;
  
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  
}

.menu-catalog {
  display: block;
  margin-bottom: 0px;
}

.backgound-strech {
  background-color: #eeeeee;
  padding-top: 90px;
  padding-bottom: 100px;
}

.page-title {
  display: block;
  height: 240px;
  background-color: #eeeeee;
  margin: 0 0 55px 0
}
.content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 auto; 
}

.page-title h1{
  font-size: 55px;
  text-align: center;
  vertical-align: inherit;
  background-color: #eeeeee;
  line-height: 55px;
  margin: 0px;
  padding: 0px;
 
}

.sidebar {
  display: flex;
  margin-right: 140px;
}

.adaptive-label {
  display: block;
  margin-bottom: 15px;
  position: relative;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #283136;
}

.adaptive-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
}


.radio-filter:checked + .adaptive-label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  border: 2px solid #a6a6a6;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.adaptive-label::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
}




.feature-label {
  position: relative;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #283136;
  display: block;
  padding-left: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #797c7f;
  opacity: 1;
}

.feature-label:hover::before {
  opacity: 1;
}

.feature-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.4;
}


.checkbox-filter:checked + .feature-label::before {
  content: "";
  position: absolute;
  left: 1.6px;
  top: 0px;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.42;
}



.content-catalog {
  display: flex;
  margin: 0 auto;
}

.portfolio-filter {
  display: flex;
  justify-content: space-between;
  width: 760px;
  padding: 0px;
}

.filter-type {
  display: flex;
  position: relative;
  padding-right: 35px;
  justify-content: space-between;
  width: 280px;
  
}

.filter-type::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 340px;
  width: 10px;
  height: 10px;
  opacity: 0.4;
  
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  
  cursor: pointer;
}

.filter-type::before:hover {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 340px;
  width: 10px;
  height: 10px;
  opacity: 1;
  
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  
  cursor: pointer;
}

.filter-type::after {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 325px;
  width: 10px;
  height: 10px;
  
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  
  cursor: pointer;
}

.catalog-items {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.type-of-grids {
  width: 260px;
  height: 780px;
}

.type-of-grids legend {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.from-to-price {
  color: #283136;
  line-height: 22px;
  font-weight: 400;
}

.sidebar h2 {
  font-size: 16px;
}

.sidebar fieldset {
  border: none;
  margin: 0;
  padding: 30px;
}

.sidebar legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  line-height: 20px;
}

.label {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #283136;
}

.filter-value:disabled + label {
  color: #d2d3d3;
}

.type-of-grids ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-reveal {
  line-height: 18px;
  font-size: 16px;
  background-color: #eeeeee;
}

.button-reveal:active {
  color: #a9a9a9;
}

.portfolio-filter ul {
  list-style: none;
  position: relative;

}

.portfolio-filter ul::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  
  background-color: #red;
  
}

.filter-value li {
  font-size: 16px;
  font-weight: 500;
  color: #797c7f;
}

.sort {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0px;
}

.filter-type li {
  color: #cacaca;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.activ {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.no-activ {
  opacity: 0.3;
}

.no-activ:hover {
  opacity: 1;
}

input[type="submit"] {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
  line-height: 18px;
}

input[type="submit"]:hover {
  background-color: #dfdfdf; 
}

input[type="submit"]:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
}

.catalog-items {
  list-style: none;
  width: 760px;
  margin: 0 0 60px;
  padding: 0;
}

.catalog-items li img {
  width: 360px;
  height: 620px;
}

.catalog-item {
  position: relative;
  margin: 0 0 30px 0;
}

.info-block {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.catalog-item:hover .info-block {
  display: block;
}

.info-block + .img-header:hover  {
  background-color: #4d4d4d;
}

.info-block {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 230px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 35px;
  font-weight: 400;
  line-height: 18px;
}

.img-header {
  display: flex;
  align-items: center;
  top: 0;
  background-color: #e9e9e9;
  width: 360px;
  height: 40px;
  border-radius: 5px 5px 0px 0px; 
}

.img-header:hover {
  background-color: #4d4d4d;
}

.circle {
  display: block;
  padding: 0px;
  margin: 0 1px 0 15px;
  justify-content: space-between;
  width: 15px;
 height: 15px;
 background: #ffffff;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border-radius: 50px;
}

.catalog-items li h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.catalog-item p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
  width: 240px;
  height: 35px;
  line-height: 18px;
}

.buy {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  line-height: 18px;
}

.buy a {
  display: inline;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}

.buy:hover {
  color: #ffffff;
  background-color: #e74246;
}

.buy:active {
  color: #ffffff;
  background-color: #d7373b;
}

.paginator-list {
  display: flex;
  min-width: 445px;
  margin: 0;
  padding: 0;
  width: 445px;
}

.paginator-list li {
  list-style: none;
  padding: 0px;
  margin: 0 10px 0 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}


.paginator-list {
  display: inline-flex;
  align-items: center;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}

.paginator-list a {
  display: inline-flex;
  align-items: center;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}


.paginator-item {
  display: block;
  background-color: #eeeeee;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 1px solid #eeeeee;
}

.paginator-item:hover {
  background-color: #dfdfdf;
  
}

.paginator-item-current {
  background-color: #ffffff;
}

.paginator-item-next {
  width: 265px;
  height: 50px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.paginator-list li:hover {
  background-color: #dfdfdf;
}

.paginator-list li:active {
  background-color: #d5d5d5;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.cost {
  margin: 0 0 80px 0;
}

.filter-value {
  margin: 0 0 20px 15px;
}

.indent-filter {
  margin: 0 0 15px 0px;
}

.range-controls {
  position: relative;
  width: 195px;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 3px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 150px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 796px;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0 0 0 50px;
  
  list-style: none;
}

.slider-item {
  display: none;
}



.slider-item:nth-child(1) {
  display: block;
  background-image: url(../img/slide.png)
  background-repeat: no-repeat;
  background-position: 90% -13px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: -7px 0 27px 0px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0px 0px 38px 1px;
}

