@font-face {
font-family: "Roboto"; 
src: url("/fonts/web/roboto") format("woff2"); 
font-style: normal; 
font-weight: normal; 
} 

body {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}


a {
  text-decoration: none;
  color: black;
}


.menu-navigator {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.site-navigation  {
  list-style: none;
}
.cart {
  list-style: none;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #fb565a;
}

.cart a:hover {
  color: #fb565a;
}

.cart a:focus {
  color: #fb565a;
}

.advantages {
  background-color: white;
  
}

.advantages li{
  list-style: none;
}

.advantages h3 {
font-size: 18px;
text-transform: uppercase;
}

.advantages p {
  font-size: 15px;
  font-weight: 400;
  width: 240px;
}

.about-us-promo h3 {
  font-size: 45px;
  width: 660px;
  margin-bottom: 20px;
}

.about-us-text {
  font-size: 16px;
  font-weight: 400;
  width: 660px;
  margin-bottom: 35px;
}

.about-us-promo li {
  list-style: none;
  line-height: 30px;
  font-weight: 400;
  
}

.about-us-promo b {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-us-statistics b {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 45px;
}

.about-us-text ul {
  margin-bottom: 75px;
}


.number {
  font-size: 45px;
  font-weight: 700;
}

table.text {
  font-size: 16px;
  font-weight: 700;
  width: 100px;
}

.link-partners {
  list-style: none;
}

.link-partners a {
  display: block;
  width: 260px;
  height: 180px;
  opacity: 0.5;
}

.link-partners a:hover {
  opacity: 1;
}

.link-partners a:active {
  opacity: 1;
}


.red {
  display: block;
  width: 140px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  background-image: url(/img/comp.jpg);
  background-color: #fb565a;
  color: white;
  text-transform: uppercase;
}

.red:hover {
  background-color: #d6494d;
}

.red:active {
  background-color: #b63538;
}

.green {
  display: block;
  width: 140px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #00ca74;
  color: white;
  text-transform: uppercase;
}

.green:hover {
  background-color: #01a25e;
}

.green:active {
  background-color: #009053;
}

.yellow {
  display: block;
  width: 140px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-bottom: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: #efc849;
  color: white;
  text-transform: uppercase;
}

.yellow:hover {
  background-color: #d6ae2c;
}

.yellow:active {
  background-color: #c09b24;
}

.modal-window {
  width: 960px;
  height: 600px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 85px;
}

.modal-window h2 {
  font-size: 45px;
  font-weight: 500;
}

.modal.modal-write-to-us p {
  font-size: 16px;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"]{
  border:1px solid #d7dcde;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: auto;
  margin-bottom: 35px;
}

input[type="submit"] {
  display:block;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border:none;
  border-radius: 3px;
}

.textarea {
  border:1px solid #d7dcde;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: auto;
  margin-bottom: 35px;
}

.contacts {
  text-align: left;
  width: 320px;
  height: 310px;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;
  }

.contacts h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.contacts p {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #989898;
  margin-bottom: 35px;
}

 

input[type="button"] {
  display:block;
  text-align: center;
  color: white;
  background-color: #fb565a;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border:none;
  border-radius: 3px;
}

.footer-lead b {
  font-size: 36px;
  font-weight: 700;
  }

.footer-lead span {
  display: block;
  font-size: 26px;
  font-weight: 500;
  color: #444444;
} 

.social-link {
  display: inline-block;
  list-style: none;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
}

<!--catalog-->

.menu-catalog {
  display: block;
  margin-bottom: 0px;
  
}

.page-title {
  display: block;
  margin-top: 0px;
  width: 1200px;
  height: 240px;
  background-color: #eeeeee;
  
}



.page-title h1{
  font-size: 55px;
  text-align: center;
  vertical-align: inherit;
  background-color: #eeeeee;
}

.type-of-grids {
  width: 260px;
  height: 780px;
}

.type-of-grids legend {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar h2 {
  font-size: 16px;
}

.filter-value li {
  font-size: 16px;
  font-weight: 500;
  color: #797c7f;
}

.button-reveal {
  background-color: #eeeeee; 
}

.catalog-items {
  list-style: none;
  width: 760px;
  height: 1920px;
}

.catalog-items li img {
  width: 360px;
  height: 620px;
}

.info-block {
  display: block;
  width: 360px;
  height: 230px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 35px;
}


.catalog-items li h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.catalog-item p {
  margin-left: auto;
  margin-right: auto;
  color: #666666;
  width: 180px;
  height: 35px;
}

.buy {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  width: 200px;
  height: 35px;
  border-radius: 3px;
}

.buy a {
  display: inline;
}